*{

    padding: 0;
    margin: 0;
    border: border-box;
    font-family: Arial;
} 

.navbar{

    background-color: #004636;
    height: 60px;
    width: 100%;
    color: white;
    
    display: flex;
    align-items: center;
    gap: 10px;
}

/* div-1 */

.nav-logo{
    width: 90px;
    height: 30px;
    
    
    
   

}

.logo{
    
    
    background-image: url(./logo.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    align-items:center;
    
    }

.border{

    border: 2px solid transparent;
}

.border:hover{

    border: 1.5px solid white;
}

/* div-2 */

.location{

    display: flex;
    flex-direction: column;
}

.icon{

    display: flex;
    align-items: center;
}

.location .first-add{

    color: #CCCCCC;
    font-size: 12px;
    margin-left: 1.1rem;
}

.location .second-add{

    font-size: 14px;
    color: #FFFFFF;
    margin-left: 0.3rem;
    font-weight: bold;
}

/* search-section */

.search{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    background-color: pink;
    border-radius: 4px;
}

.search .select{

    background-color: #F3F3F3;
    color: black;
    Font: 0.9rem;
    height: 100%;
    width: 45px;
    border-top-left-radius: 5px; 
      border-bottom-left-radius: 5px;
      line-height: 35px;
      align-items: center;
      border: none;

}

.search .input{

    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: none;
}

.search .search-icon{

    width: 45px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #7F1153;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
    
}
